/* General Styles */

.row {
  display: inline-block;
}
.row .card {
  margin: 30px 10px;
  background-color:#eee;
  border-radius: 10px;
  width: 350px;
  height: 500px;
}
.row .card .content {
  padding: 15px;
}

/* -------------------------Individual Styles------------------------- */

/* Lexi */
#lexi .image {
  height: 150px;
  background-image: url(dragon-lexi.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Nate */

/* Emily */

/* Tim */

/* Carlos */
